{% extends "layout.html" %}

{% block heading %}
	First page
{% endblock %}


{% block body %}
	{% if new_year %}
	    <h1>Yes, it is new year</h1>
	{% else %}
		<h1>No</h1>
	{% endif %}

	<h2>loop</h2>
	<ul>
		{% for i in list %}
			<li>{{i}}</li>
			   
		{% endfor%}
	</ul>
	<h1>Scarlett Johansson</h1>
	<p>Scarlett Ingrid Johansson is an American actress and singer. The world's highest-paid actress since 2018, she has made multiple appearances in the Forbes Celebrity 100. Her films have grossed over $14.3 billion worldwide, making Johansson the ninth-highest-grossing box office star of all time</p>

	<a href="{{url_for('second')}}">go to second page</a>

	<form action="{{ url_for('hello') }}" method="post">
		<input type="text" name="name" placeholder="Enter the name">
		<button>Submit</button>
	</form>

{% endblock %}